/*колір заголовків #212121 */
/*колір тексту(сірий) #757575 */
/*голубий(акцент) #2196F3 */
/*білий #2196F3 */
/*логотип(чорний) #000000 */
/* контакти футер rgba(255, 255, 255, 0.6) */
/* основний колір фону #ffffff */
/* другорядний колір фону #F5F4FA */
/* фон банера та футер #2F303A */

.page {
    background-color: #ffffff;
    color: #757575;
    font-family: 'Roboto', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.03em;
}
a {text-decoration: none;}
ul {list-style: none;}
h1 {color: #F5F5F5;}
h2, h3 {color: #212121;}
.btn {cursor: pointer;}

/*Шапка*/
.logo-web, .logo-studio, .logo-std{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;    
}
.logo-web {
    color: #2196F3;
}
.logo-studio {
    color: #000000;
}
.link-current {
    color: #2196F3;
}
.site-nav .link {color: #212121;}
.site-nav .link:hover,
.site-nav .link:focus {color: #2196F3;}
.site-nav, .contact-nav {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em
}
.contact-nav .link{
    color: #757575;
}
.contact-nav .link:focus,
.contact-nav .link:hover{
    color: #2196F3;
}

/*Банер*/
.hero {
    background-color: #2F303A;
   }
.hero-text {
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF
}
.hero .btn {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background-color: #2196F3;
}

/*Особливості*/
.features .title{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.features .text{
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

/* Чим ми займаємося та команда*/
.we, .team {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}
.team-cards {
    background-color: #ffffff;
}
.team-participant {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}
.team-participant-profession {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

/*Підвал*/
.footer {
    background-color: #2F303A;
}
.logo-std {
    color: #ffffff;
}
.address-footer {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #ffffff;
}
.contact-footer {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.6);
}
/*Портфоліо*/
.portfolio-services .btn {
    background-color: #F5F4FA;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}
.portfolio-services .btn:hover,
.portfolio-services .btn:focus{
    background-color: #2196F3;
    color: #FFFFFF;
}
.sample .title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.sample .text {
        font-size: 16px;
        line-height: 1.88;
}